.description {
  margin: var(--baseMargin) 0;
  padding: 0 calc(2 * var(--baseUnit));

  & h3 {
    color: var(--darkColor);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: var(--baseUnit);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  & .text {
    color: var(--darkColor);
    font-size: 14px;
  }
}
