.pictureWrapper {
  margin: calc(4 * var(--baseUnit)) auto calc(2 * var(--baseUnit));
  text-align: center;
}

.title {
  color: var(--imageTitleColor);
  font-size: 14px;
  font-weight: 300;
  margin-top: var(--baseUnit);
  text-align: center;
}
