.ancestry {
  display: flex;
  flex-wrap: wrap;
  padding: var(--baseUnit) calc(2 * var(--baseUnit)) calc(2 * var(--baseUnit));

  & h3 {
    color: var(--darkColor);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: var(--baseUnit);
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  & .tier,
  & .ancestors {
    align-items: center;
    display: flex;

    & h4 {
      color: var(--darkColor);
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      margin-bottom: 0;
      margin-right: var(--baseUnit);
      text-transform: uppercase;
    }

    & .amount {
      font-size: 24px;
      letter-spacing: 1.2px;
    }
  }

  & .ancestors {
    display: block;
    margin-top: calc(1 * var(--baseUnit));
  }
}
