.modal {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  background-color: var(--modalBgColor);
  inset: 0;
  overflow: auto;
  position: fixed;
}

/* :global(.ReactModal__Body--open) {
  overflow: hidden;
} */
