.wrapper{
  position: relative;
  &:hover{
    cursor: pointer;
  }
}
.input{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
  &:hover{
    cursor: pointer;
  }
}