.fieldSet {
  padding-bottom: calc(4 * var(--baseUnit));
}

.fieldLabel {
  color: var(--darkColor);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-bottom: calc(2 * var(--baseUnit));
  text-align: center;
  text-transform: uppercase;
}

.titleInputs {
  display: flex;
  margin: 0 calc(8 * var(--baseUnit)) 0 calc(5 * var(--baseUnit));

  & .checkbox {
    font-size: calc(4 * var(--baseUnit));
    line-height: 1;
    margin-right: calc(2 * var(--baseUnit));
  }
}

.descriptionInput {
  display: flex;
  padding: 0 calc(7 * var(--baseUnit)) calc(3 * var(--baseUnit)) calc(10 * var(--baseUnit));

  & .textarea {
    height: calc(16 * var(--baseUnit));
  }
}
