.header {
  display: flex;
  padding: calc(2 * var(--baseUnit));
}

.checkbox {
  font-size: calc(4 * var(--baseUnit));
  line-height: 1;
}

.title {
  color: var(--darkColor);
  display: -webkit-box;
  flex: 1;
  font-size: var(--headerFontSize);
  font-weight: 300;
  line-height: calc(4 * var(--baseUnit));
  margin-bottom: 0;
  margin-left: var(--baseUnit);
  overflow: hidden;

  &.shorten {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.toggle {
  cursor: pointer;
}

.toggleIcon {
  color: var(--iconLightColor);

  &:hover {
    color: var(--actionColor);
  }
}
