.textarea {
  background: var(--secondaryColor);
  border: 1px solid transparent;
  border-radius: var(--baseUnit);
  box-shadow: none;
  color: var(--darkColor);
  font-size: 12px;
  line-height: 1.2;
  padding: var(--baseUnit) calc(2 * var(--baseUnit));
  resize: none;
  width: 100%;

  &:focus {
    border: 1px solid var(--actionColor);
    outline: none;
  }
}

.wrapper {
  margin: 20px;
}
