.actions {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: calc(3 * var(--baseUnit));
  padding-right: var(--baseUnit);
  & .iconButton{
    height: calc(3 * var(--baseUnit));
    opacity: .33;
    &:hover {
      opacity: 1;
    }
  }
}
