.confirmation {
  border-radius: var(--baseUnit);
  overflow: hidden;
  width: var(--modalWidth);
}

.main {
  align-items: flex-start;
  background: var(--backgroundFullColor);
  display: flex;
  padding: calc(3 * var(--baseUnit));
}

.left {
  margin-right: calc(2 * var(--baseUnit));
}

.icon {
  color: var(--accentColor);
  font-size: calc(6 * var(--baseUnit));
}

.right {
  color: var(--darkColor);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.button {
  background: var(--modalButtonColor);
}
