.editNode {
  border-radius: var(--baseUnit);
  overflow: hidden;
  width: var(--modalWidth);
}

.main {
  background: var(--backgroundFullColor);
}

.header {
  padding: calc(6 * var(--baseUnit)) calc(6 * var(--baseUnit)) calc(4 * var(--baseUnit));

  & h2 {
    color: var(--darkColor);
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.2px;
    margin-bottom: 0;
    margin-right: calc(2 * var(--baseUnit));
    text-transform: uppercase;
  }

  & small {
    font-size: 16px;
    font-weight: 300;
  }
}

.button {
  background: var(--modalButtonColor);
}
