.button {
  --height: calc(8 * var(--baseUnit));
  --buttonColor: none;

  background: none;
  background: var(--backgroundMiddleColor);
  border: none;
  height: var(--height);
  margin: 0;
  padding: 0;
  width: 100%;

  &:hover {
    background: var(--backgroundMiddleColorHover);
  }
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.icon {
  color: var(--buttonColor);
  font-size: 18px;
  margin-right: 3px;
}

.name {
  color: var(--buttonColor);
  font-size: 12px;
  font-weight: 700;
}
