.column{
    & .nodes {
        align-self: stretch;
        flex: 1;
        overflow: scroll;
    }
    & footer {
        padding: var(--baseMargin) 0;
        margin-top: auto;
    }
    & .add{
        display: flex;
        justify-content: center;
    }
}