.column{
  --paddingHorizontal: calc(3 * var(--baseUnit));
  --paddingVertical: calc(4 * var(--baseUnit));
  display: flex;
  flex-direction: column;
  margin: calc(6 * var(--baseUnit)) 0;
  border-radius: var(--baseBorderRadius);
  background-clip: border-box;
  height: var(--columnHeight);
  overflow: auto;
  background-color: var(--backgroundLowColor);
  padding: var(--paddingVertical) 0 0;
  & .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(4 * var(--baseUnit));
    & .icon{
      color: var(--accentColor);
      font-size: 22px;
      line-height: 1;
    }
    & .text{
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: .8px;
      font-weight: 300;
    }
  }
  & .nodes {
    --marginBottom: calc(4 * var(--baseUnit));
    flex: 1;
    margin: 0 0 var(--marginBottom);
    overflow: auto;
    padding: 0 var(--paddingHorizontal) 0;
  }
}
