.createNode {
  width: var(--modalWidth);
  background: var(--backgroundFullColor);
  border-radius: var(--baseUnit);
  overflow: hidden;
}

.header{
  margin: calc(6 * var(--baseUnit)) calc(6 * var(--baseUnit)) calc(4 * var(--baseUnit));
  & h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--darkColor);
    margin-right: calc(2 * var(--baseUnit));
    display: inline-block;
    margin-bottom: 0;
  }
}
