.layout {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}
