:root{
  --baseUnit: 6px;
  --bgColor: #4A90E2;
  --accentColor: #cc8110;
  --secondaryColor: rgba(255, 211, 110, .33);
  --darkColor: #424242;
  --dangerColor: #F23005;
  --actionColor: rgba(46, 56, 255, 1);
  --confirmColor: #639423;
   /*
   TODO: group names;
   */
  --modalBgColor: rgba(66, 66, 66, .66);
  --iconColor: rgba(66, 66, 66, .66);
  --iconLightColor: rgba(66, 66, 66, .33);
  --headerHeight: 56px;
  --footerHeight: calc(10 * var(--baseUnit));
  --columnHeight: 656px;
  --baseMargin: 12px;
  --baseBorderRadius: 6px;
  --backgroundLowColor: rgba(242, 242, 242, .8);
  --backgroundMiddleColor: rgba(242, 242, 242, .66);
  --backgroundMiddleColorHover: rgba(242, 242, 242, 1);
  --backgroundHighColor: rgba(255, 255, 255, .66);
  --backgroundFullColor: rgba(242, 242, 242, 1);
  --headerFontSize: 16px;
  --modalWidth: calc(66 * var(--baseUnit));
}
