:root{
  --bgColor: #4A90E2;
  --headerHeight: 56px;
  --footerHeight: 64px;
  --columnHeight: 656px;
  --baseMargin: 12px;
  --baseBorderRadius: 6px;
  --backgroundLowColor: rgba(255, 255, 255, .6);
}