.floatingActions {
  --marginValue: calc(8 * var(--baseUnit));
  --paddingValue: calc(4 * var(--baseUnit));

  align-items: center;
  background: var(--backgroundMiddleColor);
  border: 1px solid transparent;
  border-radius: var(--baseUnit);
  bottom: calc(var(--footerHeight) + var(--marginValue));
  display: flex;
  flex-direction: column;
  padding: var(--paddingValue) 0;
  position: fixed;
  right: var(--marginValue);
  width: calc(12 * var(--baseUnit));

  &:hover {
    border: 1px solid var(--actionColor);
  }
}

.button {
  &:not(:last-child) {
    margin-bottom: calc(2 * var(--baseUnit));
  }
}

.divider {
  background: var(--bgColor);
  height: 1px;
  margin-bottom: calc(2 * var(--baseUnit));
  width: 100%;
}
