.navigationLink{
  display: flex;
  padding: 6px;
  background: var(--backgroundMiddleColor);
  border-radius: var(--baseBorderRadius);
  width: 120px;
  align-items: center;
  justify-content: center;
  &:hover{
    text-decoration: none;
    background: var(--backgroundMiddleColorHover);
  }
  &:active{
    position: relative;
    top: 1px;
    left: 1px;
  }
  &:focus{
    outline: none;
  }
}

.title {
  color: var(--darkColor);
  text-transform: uppercase;
  letter-spacing: .9px;
  font-size: 16px;
  user-select: none;
}

.icon{
  margin-right: 3px;
  color: var(--accentColor);
  font-size: 18px;
  line-height: 16px;
}