.navigationLink {
  align-items: center;
  background: var(--backgroundMiddleColor);
  border-radius: var(--baseBorderRadius);
  display: flex;
  justify-content: center;
  padding: 6px;
  width: 120px;

  &:hover {
    background: var(--backgroundMiddleColorHover);
    text-decoration: none;
  }

  &:active {
    left: 1px;
    position: relative;
    top: 1px;
  }

  &:focus {
    outline: none;
  }

  &.active {
    background: var(--backgroundMiddleColorHover);
    cursor: default;
    pointer-events: none;
  }
}

.title {
  color: var(--darkColor);
  font-size: 16px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  user-select: none;
}

.icon {
  color: var(--accentColor);
  font-size: 18px;
  line-height: 16px;
  margin-right: 3px;
}
