.node {
  border-radius: var(--baseUnit);
  box-shadow: var(--elevationSmall);
  margin-top: var(--baseUnit);
  margin-bottom: calc(3 * var(--baseUnit));
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: var(--elevationMedium);
  }

  &:not(.open):hover {
    transform: scale(1.07);
  }

  &.open {
    transform: scale(1.05);
    box-shadow: var(--elevationMedium);
  }

  & .stats {
    display: flex;
  }

  & main,
  & .header {
    background-color: var(--backgroundHighColor);
  }

  &.open main,
  &.open .header {
    background-color: var(--backgroundFullColor);
  }
}
