.buttonBig {
  --size: calc(8 * var(--baseUnit));

  background: var(--backgroundHighColor);
  border: none;
  border-radius: var(--size);
  cursor: pointer;
  height: var(--size);
  padding: 0;
  text-align: center;
  width: var(--size);

  &:hover {
    background: var(--backgroundFullColor);
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:active > .icon {
    left: 1px;
    position: relative;
    top: 1px;
  }
}
/* stylelint-disable-next-line no-descending-specificity */
.icon {
  color: var(--buttonColor);
  font-size: calc(6 * var(--baseUnit));
  line-height: var(--size);
}
