.chart {
  --size: calc(16 * var(--baseUnit));

  background: var(--iconColor);
  border-radius: var(--size);
  color: white;
  height: var(--size);
  line-height: var(--size);
  margin-right: calc(2 * var(--baseUnit));
  text-align: center;
  width: var(--size);
}

.pie {
  --size: calc(16 * var(--baseUnit));

  border-radius: 100%;
  height: var(--size);
  margin-right: calc(2 * var(--baseUnit));
  overflow: hidden;
  position: relative;
  width: var(--size);
}

.segment {
  --a: calc(var(--over50, 0) * -100%);
  --b: calc((1 + var(--over50, 0)) * 100%);
  --degrees: calc((var(--offset, 0) / 100) * 360);

  -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
  height: 100%;
  position: absolute;
  transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
  transform-origin: 50% 100%;
  width: 100%;
  z-index: calc(1 + var(--over50));

  &::after,
  &::before {
    background: var(--bg, #e74c3c);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &::before {
    --degrees: calc((var(--value, 45) / 100) * 360);

    transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0%;
  }

  &::after {
    opacity: var(--over50, 0);
  }
}

.label {
  bottom: calc(var(--baseUnit) / 2);
  color: white;
  font-size: 12px;
  font-weight: 400;
  left: calc(var(--baseUnit) / 2);
  position: absolute;
  text-align: center;
  width: 50%;
  z-index: 2;
}
