.chart {
  --size: calc(16 * var(--baseUnit));

  height: var(--size);
  margin-left: calc(2 * var(--baseUnit));
  margin-right: calc(2 * var(--baseUnit));
  position: relative;
  width: var(--size);
}

.completion {
  --size: var(--chartLabelFontSize);
  --color: black;

  color: var(--color);
  cursor: default;
  font-size: var(--size);
  height: var(--size);
  left: 50%;
  line-height: var(--size);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
