.confirmation {
  width: var(--modalWidth);
  background: var(--backgroundFullColor);
  border-radius: var(--baseUnit);
  overflow: hidden;
}

.main {
  display: flex;
  padding: calc(3 * var(--baseUnit));
  align-items: flex-start;
}

.left{
  margin-right: calc(2 * var(--baseUnit));
}

.icon {
  color: var(--accentColor);
  font-size: calc(6 * var(--baseUnit));
}

.right {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--darkColor);
}
