.confirmation {
  width: calc(66 * var(--baseUnit));
  background: var(--backgroundFullColor);
  border-radius: var(--baseUnit);
  overflow: hidden;
}

.main {
  display: flex;
  padding: calc(3 * var(--baseUnit));
  align-items: flex-start;
}

.icon {
  color: var(--accentColor);
  font-size: calc(6 * var(--baseUnit));
  margin-right: calc(3 * var(--baseUnit));
}

.text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--darkColor);
}

.footer {
  border-top: 1px solid var(--bgColor);
  margin: 0 0 0;
  display: flex;
  & .edit,
  & .showChildren{
    flex: 1;
  }
  & .edit{
    border-right: 1px solid var(--bgColor);
  }
}
