.header {
  background-color: var(--backgroundLowColor);
  padding: 9px 0;
}

.headerContent {
  display: flex;
}

.brand {
  align-items: center;
  display: flex;
}

.logo {
  color: var(--accentColor);
  font-size: 36px;
  line-height: 30px;
}

.name {
  color: var(--darkColor);
  cursor: default;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2.24px;
  margin-left: 18px;
  text-transform: uppercase;
  user-select: none;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.navItem {
  margin: 0 calc(2 * var(--baseUnit));

  &:last-child {
    margin-right: 0;
  }
}

.githubLink {
  color: var(--darkColor);
  font-size: 24px;
}
