.color {
  --size: calc(3 * var(--baseUnit));
  --colorValue: rgb(66 66 66 / 66%);

  align-items: center;
  background: var(--colorValue);
  border: none;
  border-radius: var(--size);
  cursor: pointer;
  display: flex;
  height: var(--size);
  justify-content: center;
  margin: 0 var(--baseUnit);
  padding: 0;
  width: var(--size);
}
