:root {
  --name: "default";
  --baseUnit: 6px;
  --bgColor: #4a90e2;
  --accentColor: #cc8110;
  --secondaryColor: rgb(255 211 110 / 33%);
  --darkColor: #424242;
  --dangerColor: #f23005;
  --actionColor: rgb(46 56 255 / 100%);
  --confirmColor: #639423;
  --modalBgColor: rgb(66 66 66 / 66%);
  --toastBgColor: rgb(66 66 66 / 66%);
  --iconColor: rgb(66 66 66 / 66%);
  --iconLightColor: rgb(66 66 66 / 33%);
  --headerHeight: 56px;
  --footerHeight: calc(6 * var(--baseUnit));
  --columnHeight: calc(100 * var(--baseUnit));
  --baseMargin: 12px;
  --baseBorderRadius: 6px;
  --backgroundLowColor: rgb(242 242 242 / 80%);
  --backgroundMiddleColor: rgb(242 242 242 / 66%);
  --backgroundMiddleColorHover: rgb(242 242 242 / 100%);
  --backgroundHighColor: rgb(255 255 255 / 66%);
  --backgroundFullColor: rgb(242 242 242 / 100%);
  --headerFontSize: 16px;
  --modalWidth: calc(66 * var(--baseUnit));
  --modalButtonColor: rgb(230 230 230 / 100%);
  --imageTitleColor: var(--iconColor);
  --chartLabelFontSize: 14px;
  --chartTooltipFontSize: 12px;
}
